[MAIN]
analyse-fallback-blocks=no

[MESSAGES CONTROL]
disable=
    C0301,  # Line too long
    W0611,  # Unused import
    W0613,  # Unused argument
    W0718,  # Catching too general exception
    C0411,  # Wrong import order
    R0913,  # Too many arguments
    W1514,  # Using open without specifying encoding
    E0401,  # Unable to import (import-error)
    C0114,  # Missing module docstring
    C0116,   # Missing function or method docstring
    R1710,
    C0209,
    R0914,
    W0621,
    C0103,
    W0612
    R0801

[FORMAT]
max-line-length=130

[BASIC]
argument-naming-style=snake_case
