[MAIN]
analyse-fallback-blocks=no

[MESSAGES CONTROL]
disable=
    C0301,  # Line too long
    W0611,  # Unused import
    W0613,  # Unused argument
    W0718,  # Catching too general exception
    C0411,  # Wrong import order
    R0913,  # Too many arguments
    W1514   # Using open without specifying encoding

[FORMAT]
max-line-length=130

[BASIC]
argument-naming-style=snake_case
